{% extends 'base.html' %}
{% block title %}Create New Post...{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Create New Post...</h1>
<br /><br />
<div class="form-group"></div>
<form method="POST">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button class="btn btn-secondary">Create New Post</button>

    </div>


    <script>
        var name = "{{ user.id }}";
        document.getElementById("author-id").value = name;
    </script>
    {% else %}

    Action not permitted...

    {% endif %}

    {% endblock %}