{% extends 'base.html' %}
{% block title %}Edit Profile Page...{% endblock %}
{% block content %}

{% if user.is_authenticated %}
{% if user.id == profile.user.id %}
<h1>Edit Profile Page...</h1>
<br /><br />
<div class="form-group"></div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-site-theme">Update Profile Page</button>
    
    </div>

    {% else %}

    <h2>You are not the correct user to edit this page...</h2>

    {% endif %}
    {% else %}
    <h2>Action not permitted...</h2>

    {% endif %}

    {% endblock %}