 /* Main body colour/style */

 body {
     background-color: black;
     color: white;
 }

 /* Link colour/style */

 a {
     color: #f57542;
 }

 /* Profile card styling */

 .card-title {
     color: black;
 }

 .card-text {
     color: black;
 }

 /* Site theme button colour */

 .btn-site-theme {
     background-color: #f57542;
 }

 /* Main Navbar styling/colour */

 #msg {
     background-color: #f57542;
     text-align: center;
 }

 #main-navbar {
     background-color: #f57542;
 }